<div class="page">

  <header class="header">
    <div class="header-container">
      <h1 class="logo">MindHub</h1>
      <nav class="header-nav">
        <a routerLink="/profissionais">PROFISSIONAIS</a>
        <a>SOBRE</a>
      </nav>
    </div>
  </header>

  <main class="main">
    <div class="left-side"></div>

    <div class="right-side">
      <div class="content">

        <h2 class="title">PROFISSIONAIS DISPONÍVEIS</h2>

        <!-- DEBUG -->
        <p style="color: white">Total: {{ profissionais.length }}</p>

        <div class="card-list">

          <div class="card" *ngFor="let profissional of profissionais">
            <div>
              <h3>{{ profissional.name }}</h3>
              <p class="subtitle">{{ profissional.specialty }}</p>

              <div class="schedule">
                <p>
                  <span *ngIf="profissional.is_presencial">Atende presencial</span>
                  <span *ngIf="profissional.is_online"> • Atende online</span>
                </p>

                <p class="time">
                  CRP: {{ profissional.crp }}
                </p>
              </div>
            </div>

            <button (click)="irParaAgendamento(profissional.id)">
              Agendar
            </button>
          </div>

          <p *ngIf="profissionais.length === 0">Nenhum profissional disponível.</p>  

        </div>

      </div>
    </div>
  </main>

</div>